<%= form_with(model: video, local: true) do |form| %>
<% if video.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(video.errors.count, "error") %>
      prohibited this video from being saved:</h2>

    <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label "Título" %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :url %>
  <%= form.text_field :url, value: "https://content.jwplatform.com/manifests/yp34SRmf.m3u8" %>
</div>

<div class="actions center">
  <%= form.submit "Enviar Vídeo", class:"waves-effect indigo waves-light btn-small center" %>
</div>
<% end %>
